---
layout: default
title: Personal Webpage
---
<!-- ========== BIO ========== -->
<div class="section" id="bio">
  <h2>Bio</h2>
  <p>
    I am a <span class="bio-highlight">Machine Learning Research Engineer</span> at <a href="https://www.gradiant.org/en//" target="_blank" rel="noopener">Gradiant</a>. I
    love creating
    systems based on data that can interact with the real word.
    My research interests lie in the general area of machine learning, particularly in deep learning and its
    applications in object detection,
    image generation and instance segmentation.
  </p>

  <p>
    Prior to coming to Gradiant, I worked at <a href="https://www.desigual.com" target="_blank" rel="noopener">Desigual
      Headquarters</a> in Barcelona
    as a Data Science consultant.
    I spent one year in Barcelona and one year in the United States (Purdue University) to do a M.Sc. in Artificial
    Intelligence.
    I got my B.Sc. from University of A Coruña after an exchange year in Norway.
  </p>
</div>

<!-- ========== NEWS ========== -->
<div class="section" id="news">
  <h2>News</h2>

  <ul>
    {% for new in site.data.news.news %}
    <li>
      <p><span class="bio-highlight"><b>{{new.month}} {{new.year}}</b></span>. {{new.text}}</p>
    </li>
    {% endfor %}
  </ul>

</div>

<!-- ========== POSTS ========== -->
<div class="section" id="posts">
  <h2>Posts</h2>

  <ul class="posts" id="posts-selected">
    {% assign selected_posts = site.posts %}
    {% for post in selected_posts %}
    <li class="post">
      <a href="{{ post.url }}">
        <div class="post-image-placeholder">
          <img src="{{ post.image }}" alt="{{ post.description }}"" class="post-image" loading="lazy" width="952" height="509"/>
        </div>
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-description"> {{ post.subtitle }} </p> 
      </a>    
    </li>
    {% endfor %}
  </ul>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- ========== Publications ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>


  <div class="tab-content">
    <div class="tab-pane active" id="project-selected">
      {% for paper in site.data.publications.publications %}
      <div class="other-projects">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <p class="description">{{ paper.description }}</p>
        <div class="other-projects-buttons">
          {% if paper.paper %}
          <a class="button" href="{{ paper.paper }}" target="_blank" rel="noopener">Paper</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank" rel="noopener">Code</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== Other Projects ========== -->
<div class="docs-section" id="other">
  <h4>Other projects</h4>

  <div class="tab-content">
    <div class="tab-pane active" id="project-selected">
      {% for project in site.data.other_projects.other_projects %}
      <div class="other-projects">
        <p class="title"><b>{{ project.title }}</b></p>
        <p>{{ project.authors }}</p>
        <p class="description">{{ project.description }}</p>
        <div class="other-projects-buttons">
          {% if project.code %}
          <a class="button" href="{{ project.code }}" target="_blank" rel="noopener">Code</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>