---
layout: default
title: Personal Webpage
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am a Machine Learning Research Engineer at <a href="https://www.gradiant.org/en//" target="_blank">Gradiant</a>. I
    love creating
    systems based on data that can interact with the real word.
    My research interests lie in the general area of machine learning, particularly in deep learning and its
    applications in object detection,
    image generation and instance segmentation.
  </p>

  <p>
    Prior to coming to Gradiant, I worked at <a href="https://www.desigual.com" target="_blank">Desigual
      Headquarters</a> in Barcelona
    as a Data Science consultant.
    I spent one year in Barcelona and one year in the United States (Purdue University) to do a M.Sc. in Artificial
    Intelligence.
    I got my B.Sc. from University of A Coruña after an exchange year in Norway.
  </p>
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>

  <ul>
    {% for new in site.data.news.news %}
    <li>
      <p><b>{{new.month}} {{new.year}}</b>. {{new.text}}</p>
    </li>
    {% endfor %}
  </ul>

</div>

<!-- ========== POSTS ========== -->
<div class="docs-section" id="posts">
  <h4>Posts</h4>

  <ul class="tab-nav">
    <li>
      <div class="button active" data-ref="#posts-selected">Selected</div>
    </li>
    <li>
      <div class="button" data-ref="#posts-all">All</div>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active margin" id="posts-selected">
      {% assign selected_posts = site.posts | where: "selected", "y" %}
      {% for post in selected_posts %}
      {% assign index_modulo = forloop.index0 | modulo:2 %}
      {% if index_modulo == 0 %}
      <div class="row post-row">
        {% endif %}

        <div class="six columns">
          <div class="post-container">

            <div class="post-image-container">
              <a href="{{ post.url }}">
                <img src="{{ post.image }}" class="u-max-full-width post-image" />
              </a>
            </div>

            <div class="post-caption">
              <b>{{ post.title }}</b> <br />
              {{ post.subtitle }}
            </div>

          </div>
        </div>

        {% if index_modulo == 1 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane margin" id="posts-all">
      {% for post in site.posts %}
      {% assign index_modulo = forloop.index0 | modulo:2 %}
      {% if index_modulo == 0 %}
      <div class="row post-row">
        {% endif %}

        <div class="six columns">
          <div class="post-container">

            <div class="post-image-container">
              <a href="{{ post.url }}">
                <img src="{{ post.image }}" class="u-max-full-width" />
              </a>
            </div>

            <div class="post-caption">
              <b>{{ post.title }}</b> <br />
              {{ post.subtitle }}
            </div>

          </div>
        </div>

        {% if index_modulo == 1 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- ========== Publications ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>


  <div class="tab-content">
    <div class="tab-pane active" id="project-selected">
      {% for paper in site.data.publications.publications %}
      <div class="other-projects">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <p class="description">{{ paper.description }}</p>
        <div class="other-projects-buttons">
          {% if paper.paper %}
          <a class="button" href="{{ paper.paper }}" target="_blank">Paper</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== Other Projects ========== -->
<div class="docs-section" id="other">
  <h4>Other projects</h4>

  <div class="tab-content">
    <div class="tab-pane active" id="project-selected">
      {% for project in site.data.other_projects.other_projects %}
      <div class="other-projects">
        <p class="title"><b>{{ project.title }}</b></p>
        <p>{{ project.authors }}</p>
        <p class="description">{{ project.description }}</p>
        <div class="other-projects-buttons">
          {% if project.code %}
          <a class="button" href="{{ project.code }}" target="_blank">Code</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>