---
layout: default
title: Personal Webpage
---
<!-- ========== Header ========== -->
<div class="container">

  <div class="header-container">

    <div class="header-img">
      <a href="{{ site.baseurl }}/">
        {% picture profile {{ site.baseurl }}{{ site.data.main_info.profile_pic }} --alt Site main picture %}
      </a>
    </div>

    <div class="header-title">
      <h1>{{ site.data.main_info.name }}</h1>
      <p>{{ site.data.main_info.title }}</p>
      <p>{{ site.data.main_info.email }}</p>

      <a href='{{site.data.main_info.github}}' target="_blank" rel="noopener">
        <i class="icon-github-circled" aria-hidden="true"></i>
      </a>

      <a href='{{site.data.main_info.linkedin}}' target="_blank" rel="noopener">
        <i class="icon-linkedin-squared" aria-hidden="true"></i>
      </a>

      <a href='{{site.data.main_info.twitter}}' target="_blank" rel="noopener">
        <i class="icon-twitter-squared" aria-hidden="true"></i>
      </a>

      <a href='{{site.data.main_info.medium}}' target="_blank" rel="noopener">
        <i class="icon-medium" aria-hidden="true"></i>
      </a>

      <a href='{{site.data.main_info.stackoverflow}}' target="_blank" rel="noopener">
        <i class="icon-stackoverflow" aria-hidden="true"></i>
      </a>

      <a href='{{site.baseurl}}{{site.data.main_info.rss}}' target="_blank" rel="noopener">
        <i class="icon-rss-squared" aria-hidden="true"></i>
      </a>
    </div>

  </div>

  <!-- ========== BIO ========== -->
  <div class="section" id="bio">
    <h2>Bio</h2>
    <p>
      I am a <span class="bio-highlight">Machine Learning Engineer</span> at <a href="https://www.statsbomb.com" target="_blank" rel="noopener">Statsbomb</a>. I
      love creating
      systems based on data that can interact with the real world.
      My research interests lie in the general area of machine learning, particularly in deep learning and its
      applications in object detection,
      image generation and instance segmentation.
    </p>

    <p>
      Prior to coming to Statsbomb, I worked at <a href="https://www.gradiant.org/en//" target="_blank" rel="noopener">Gradiant</a> as a Machine Learning Research Engineer and at 
       <a href="https://www.desigual.com" target="_blank" rel="noopener">Desigual Headquarters</a> as a Data Science consultant.
      My academic background includes a M.Sc. in Artificial Intelligence, which I completed over two years - one in Barcelona and one at Purdue University in the United States
      I spent one year in Barcelona and one year in the United States (Purdue University) to do a M.Sc. in Artificial
      Intelligence.
      I earned my B.Sc. from the University of A Coruña, which included an enriching exchange year in Norway.
    </p>
  </div>

  <!-- ========== NEWS ========== -->
  <div class="section" id="news">
    <h2>News</h2>

    <ul>
      {% for new in site.data.news.news %}
      <li>
        <p><span class="bio-highlight"><b>{{new.month}} {{new.year}}</b></span>. {{new.text}}</p>
      </li>
      {% endfor %}
    </ul>

  </div>

  <!-- ========== POSTS ========== -->
  <div class="section" id="posts">
    <h2>Posts</h2>

    <ul class="posts" id="posts-selected">
      {% assign post_count = 0 %}
      {% assign selected_posts = site.posts | where: "selected", "y"  %}
      {% assign post_classes = 'post ' %}
      
      {% for post in selected_posts %}
        <li class="{{ post_classes }}">

          {% if post.external-url %}
            <a href="{{ post.external-url }}" target=”_blank”> 
          {% else %}
            <a href="{{ post.url }}">
          {% endif %}

            <div class="post-image-placeholder">
              {% picture posts-grid {{ post.image }} --alt {{ post.description }} %}
            </div>
            <h3 class="post-title">{{ post.title }}</h3>
            <p class="post-description"> {{ post.subtitle }} </p> 
          </a>    
        </li>
        
        <!-- increment post counter -->
        {% assign post_count = post_count | plus: 1 %}
        
        <!-- add see more link and set next posts to class hidden -->
        {% if post_count == {{site.data.main_info.posts_to_show }} %}
          <a href="#" class="see-more-link">See more posts</a>
          {% assign post_classes = post_classes | append: 'hidden' %}
        {% endif %}

      {% endfor %}
    </ul>
  </div>


  <!-- ========== RESUME ========== -->
  <div class="section" id="resume">
    <h2>Vitæ</h2>

    <ul class="vitae-content">
      {% for exp in site.data.experience.experiences %}
      <li class="vitae-item">

        <div class="vitae-time-place">
          <div class="vitae-place">
            {{ exp.location }}
          </div> 
          <div class="vitae-time">
            {{ exp.time }}
          </div>
        </div>

        {% if forloop.first %}
        <div class="vitae-actual vitae-image ">
        {% else %}
        <div class="vitae-image">
        {% endif %}
          <div class="vitae-image-placeholder">
            {% picture exp-logos {{ exp.image }} --alt {{ exp.company }} %}
          </div>
        </div>

        <div class="vitae-panel">
          <div class="vitae-position">
            <h3 class="vitae-title">{{ exp.title }} - <a target="_blank" rel="noopener" href="{{exp.url}}">{{ exp.company }}</a> </h3>
          </div>
          <div class="vitae-description">
            <p> {{ exp.description }} </p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>

  <!-- ========== Publications ========== -->
  <div class="section" id="publications">
    <h2>Publications</h2>

    <ul class="publications-content">
      {% for paper in site.data.publications.publications %}
      <li class="publications-item">
        <h3 class="publication-title">{{ paper.title }}</h3>
        <a target="_blank" rel="noopener" href="{{paper.paper}}">
          <p class="publication-venue">{{ paper.venue }}</p>
        </a>
        <p class="publication-authors">{{ paper.authors }}</p>
      </li>
      {% endfor %}
      </ul>
  </div>

  <!-- ========== Other Projects ========== -->

  <div class="section" id="other-projects">
    <h2>Other Projects</h2>

    <ul class="other-projects-content">
      {% for project in site.data.other_projects.other_projects %}
      <li class="other-projects-item">
        <a target="_blank" rel="noopener" href="{{project.code}}">
          <h3 class="other-project-title">{{ project.title }}</h3>
        </a>
        <p class="other-project-description">{{ project.description }}</p>
        <p>Tags: <span class="bio-highlight">{{ project.tags }}</span></p>
      </li>
      {% endfor %}
      </ul>
  </div>

</div>

<script type="text/javascript" src="{{ '/libs/custom/myjs.js' | prepend: site.baseurl }}" defer></script>