<!-- Schema.org Blog Collection markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "Blog Posts",
  "description": "Technical blog posts about Machine Learning, Deep Learning, and Computer Vision",
  "url": "{{ site.url }}/#posts",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {% assign selected_posts = site.posts | where: "selected", "y" %}
      {% for post in selected_posts limit: site.data.main_info.posts_to_show %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "item": {
          "@type": "BlogPosting",
          "headline": "{{ post.title }}",
          "url": "{{ site.url }}{{ post.url }}",
          "image": "{{ site.url }}{{ post.image }}",
          "datePublished": "{{ post.date | date_to_xmlschema }}",
          "author": {
            "@type": "Person",
            "@id": "{{ site.url }}/#person"
          },
          "description": "{{ post.description | strip_html }}"
        }
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
}
</script>
