<!-- Schema.org Software Projects markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {% for project in site.data.other_projects.other_projects %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "item": {
        "@type": "SoftwareSourceCode",
        "name": "{{ project.title }}",
        "description": "{{ project.description | strip_html | strip_newlines }}",
        "url": "{{ project.code }}",
        "codeRepository": "{{ project.code }}",
        "author": {
          "@type": "Person",
          "@id": "{{ site.url }}/#person"
        },
        "programmingLanguage": "Python",
        "keywords": "{{ project.tags | replace: '#', '' }}"
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
