<!-- Schema.org Work Experience markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {% assign filtered_experiences = site.data.experience.experiences | where_exp: "exp", "exp.title contains 'Engineer' or exp.title contains 'Scientist' or exp.title contains 'Consultant'" %}
    {% for exp in filtered_experiences %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "item": {
        "@type": "OrganizationRole",
        "roleName": "{{ exp.title }}",
        "member": {
          "@type": "Person",
          "@id": "{{ site.url }}/#person"
        },
        "memberOf": {
          "@type": "Organization",
          "name": "{{ exp.company }}",
          "url": "{{ exp.url }}",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ exp.location }}"
          }
        },
        "description": "{{ exp.description | strip_html | strip_newlines }}"
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
