---
layout: default
---

<!-- schema.org markup to help SEO -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "{{ site.data.main_info.name }}",
      "url": "{{ site.url }}"
    },
    "description": "{{ page.description | default: site.description }}"
  }
  </script>

<header class="the-post-header">
    <div class="container">
      <a href="{{ site.baseurl }}/">
        <h3>Miguel Méndez</h3>
      </a>
      <div>
        <a  href={{ "/index.html#posts" | prepend: site.baseurl }}>
         <h3 class="posts-link">Posts</h3>
        </a>
      </div>
    </div>
</header>

<div class="the-post-title-placeholder">
  <div class="offset">
    <div class="the-post-title-text">
      <span class="the-post-date">{{ page.date | date: '%B %d, %Y' }} </span>
      <h1 class="the-post-title">{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
    </div>
  </div>

  <div class="the-post-title-image">
    {% picture thumbnail {{ page.image}} --alt {{ page.title }} %}
  </div>
</div>

<div class="share-button">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" ,
    data-size="large" , data-text="{{ page.title }}" , data-via="mmeendez8" , data-url="{{ site.relative_url }}{{ page.url }}">
  </a>
</div>

<div class="container the-post-content">

  {{ content }}
  
</div>

<div class="comments">
  <script src="https://utteranc.es/client.js"
        repo="mmeendez8/mmeendez8.github.io"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>