---
layout: default
---

<!-- schema.org markup to help SEO -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "author": {
    "@type": "Person",
    "@id": "{{ site.url }}/#person",
    "name": "{{ site.data.main_info.name }}",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}{{ site.data.main_info.profile_pic }}",
    "jobTitle": "{{ site.data.main_info.title }}",
    "sameAs": [
      "{{ site.data.main_info.linkedin }}",
      "{{ site.data.main_info.github }}",
      "{{ site.data.main_info.twitter }}",
      "{{ site.data.main_info.medium }}",
      "{{ site.data.main_info.stackoverflow }}"
    ]
  },
  "publisher": {
    "@type": "Person",
    "@id": "{{ site.url }}/#person",
    "name": "{{ site.data.main_info.name }}",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}{{ site.data.main_info.profile_pic }}"
  },
  "description": "{{ page.description | default: site.description }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ page.image }}"
  },
  "keywords": "{{ page.tags | join: ', ' }}",
  "articleSection": "{{ page.categories | join: ', ' }}",
  "wordCount": "{{ content | number_of_words }}",
  "inLanguage": "en",
  "articleBody": "{{ page.description | default: content | strip_html | truncate: 500 }}"
}
</script>

<!-- Schema.org BreadcrumbList markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Blog",
      "item": "{{ site.url }}/#posts"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ page.title }}",
      "item": "{{ site.url }}{{ page.url }}"
    }
  ]
}
</script>

<header class="the-post-header">
    <div class="container">
      <a href="{{ site.baseurl }}/">
        <h3>Miguel Méndez</h3>
      </a>
      <div>
        <a  href={{ "/index.html#posts" | prepend: site.baseurl }}>
         <h3 class="posts-link">Posts</h3>
        </a>
      </div>
    </div>
</header>

<div class="the-post-title-placeholder">
  <div class="offset">
    <div class="the-post-title-text">
      <span class="the-post-date">{{ page.date | date: '%B %d, %Y' }} </span>
      <h1 class="the-post-title">{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
    </div>
  </div>

  <div class="the-post-title-image">
    {% picture thumbnail {{ page.image}} --alt {{ page.title }} %}
  </div>
</div>

<div class="container the-post-content">

  {{ content }}
  
</div>

<div class="comments">
  <script src="https://utteranc.es/client.js"
        repo="mmeendez8/mmeendez8.github.io"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>